.hero {

    background: url(../../../../public/img/hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;

    height: 108vh;
    position: relative;

    display: flex;
    flex-direction: column;


    &::after {
        content: '';

        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        background: #0000009c;
    }

    .container {
        position: relative;
        z-index: 9;
    }

    &_head {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        justify-items: stretch;
        align-items: center;
    }

    .loka {
        border: 1px solid #fff;
        border-radius: 50%;

        &_box {
            font-size: var(--f20);
            line-height: 125%;
        }
    }

    .logo {
        justify-self: center;
        position: relative;
        top: 50px;
    }

    .tel {

        span {
            font-size: 30px;

            width: min-content;
            text-wrap: nowrap;
        }
    }

    &_content {
        margin-top: auto;

        

        &_ps {
            font-size: var(--f20);
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 29px;
            margin-left: 3px;
            word-spacing: -2px;
        }

        &_contact {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 15px;
            display: flex;
            margin-left: auto;
               padding: 0 17px 15px 0;
            &_link{
                border-radius: 50%;
                border: 1.5px solid #fff;

                display: flex;
                align-items: center;
                justify-content: center;

                padding: 8px;
            }
        }
    }
}