.events {


    &_content {
        margin: 40px 0;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        .item {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 15px;
            &_img{
                width: 100%;
                height: 320px;
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
            }

            .title {
                color: #fff;
                font-size: 38px;
            }

            .butT1{
                margin-top: 90px;

            }
        }
    }


}