.events {


    &_content {
        margin: 40px 0;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        .item {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 15px;

            &_img {
                width: 100%;
                height: 320px;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
            }

            .title {
                color: #fff;
                font-size: 38px;
            }

            .butT1 {
                margin-top: 90px;

            }
        }
    }


}



/* ====== EVENTS mobile 375x667 ====== */
@media (max-width: 420px) {
    .events {
        padding: 55px 0;
        /* вместо .sect 90px */

        .h2 {
            margin-left: 0;
            padding: 8px 16px;
            font-size: 16px;
            border-radius: 28px;
        }

        &_content {
            margin: 20px 0;

            grid-template-columns: 1fr;
            gap: 60px;
        }

        .item {
            gap: 10px;
            // padding: 12px;
            // border: 1px solid rgba(255, 255, 255, 0.15);
            // border-radius: 16px;

            &_img {
                height: 180px;
                /* было 320 */
            }

            img {
                border-radius: 10px;
            }

            .title {
                font-size: 22px;
                /* было 38 */
                line-height: 120%;
            }

            .butT1 {
                margin-top: 8px;
                /* было 90 */
                width: 100%;
                padding: 12px 16px;
                font-size: 16px;
                border-radius: 28px;
            }
        }
    }
}