.contact {
  &_info {
    .h2 {
      margin-bottom: 25px;
    }
   

    a.contact_info_text:hover {
      text-decoration: underline;
      color: var(--color-2);
    }
    &_text {
      font-weight: 500;
      font-size: clamp(16px, 1.5vw, 30px);
      line-height: 110%;
      color: #fff;

      transition: all 0.3s ease; }

    &_box {
      margin: 20px 0;

      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &_time {
      margin-top: 70px;
    }


  }

  &_soc {
    margin-top: 50px;
  }

  &_loc {
    background: url(../../../../public/img/contact_fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 500px;
  }


}